@media (min-width: 769px) and (max-width: 1250px) {
    body {
        background-color: red;
    }

    .container {
        width: 100%;
    }

    .calculation {
        &__btn {
            min-width: 20vw;
            background-color: red;
        }
    }

    .header {
        background-color: green;
        grid-template-columns: 0.7fr 1fr 1.8fr;

        &__consultation {
            width: 19vw;
        }
    }

    .repair {

        &__sliderBig {
            height: 434px;

            .sliderB {
                height: 434px;
            }
        }

        &__title {
            font-size: calc($sizeindex * 1.5);
            width: 70vw;
        }

        &__descr {
            font-size: calc($sizeindex * 0.7);
            width: 70vw;
            margin-bottom: 5%;
        }

        &__order {
            width: 50%;
            gap: 13px;
        }
        
    }
}

@media(min-width: 1760px) {
    .calculation {
        &__text1::before {
            margin-right: 80px;
        }
    }

    .repair {
        &__title {
            font-size: calc($sizeindex * 1.5);
            width: 70vw;
            margin-bottom: 7vh;
        }

        &__descr {
            font-size: calc($sizeindex * 0.7);
            width: 70vw;
            margin-bottom: 9vh;
        }

        .text-wrapper {
            padding: 2.5% 4%;
        }

        &__button {
            padding: 5% 0;
        }
    }
}

@media(min-width: 2900px) {
    .repair {
        &__title {
            margin-bottom: 4vh;
        }

        &__descr {
            margin-bottom: 5vh;
        }

        .text-wrapper {
            padding: 2.5% 4%;
        }

        &__button {
            padding: 2.5% 0;
        }
    }

    }