@charset "UTF-8";
@font-face {
  font-family: "WixMadeforText-Medium";
  src: url("./assets/fonts/WixMadeforText-Medium.woff2") format("woff2"), url("./assets/fonts//WixMadeforText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "WixMadeforDisplay-SemiBold";
  src: url("./assets/fonts/WixMadeforDisplay-SemiBold.woff2") format("woff2"), url("./assets/fonts/WixMadeforDisplay-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "WixMadeforText-SemiBold";
  src: url("./assets/fonts/WixMadeforText-SemiBold.woff2") format("woff2"), url("./fonts/WixMadeforText-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "WixMadeforDisplay-Bold";
  src: url("./assets/fonts/WixMadeforDisplay-Bold.woff2") format("woff2"), url("./fonts/WixMadeforDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto-Bold.woff2") format("woff2"), url("./assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "WixMadeforTextRegular";
  src: url("./assets/fonts/WixMadeforTextRegular.woff2") format("woff2"), url("./assets/fonts/WixMadeforTextRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.none {
  display: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  max-width: 100%;
  font-family: "WixMadeforTextRegular";
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.textAll {
  font-family: "WixMadeforText-Medium";
  font-size: calc((1vw + 1vh) * 0.53);
}

.btnBlue {
  background-color: #1455FD;
  color: #FFFFFF;
  font-family: "WixMadeforText-Medium";
  font-size: calc((1vw + 1vh) * 0.5);
  border-radius: 15px;
  border-color: #1455FD;
}

.none {
  display: none;
}

.container {
  min-width: 90%;
  margin: 40px auto;
}

.calculation {
  background-color: #161616;
  display: grid;
  grid-template-columns: 2fr 5vw;
  padding: 0.6vh 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.calculation__wrapper {
  display: grid;
  grid-template-columns: 65% 35%;
}
.calculation__descr {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
  gap: 1vw;
  width: 90%;
}
.calculation__text1, .calculation__text2, .calculation__text3 {
  color: white;
  font-size: calc((1vw + 1vh) * 0.51);
  font-family: "WixMadeforTextRegular";
}
.calculation__text1 {
  position: relative;
}
.calculation__text1::before {
  content: url("./assets/images/lightning.svg");
  display: inline-flex;
  top: -5px;
  right: 4vw;
  position: absolute;
}
.calculation__text2 {
  display: block;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: #2D2D2D;
}
.calculation__btn {
  border: 2px solid black;
  border-radius: 10px;
  max-width: 11vw;
  position: relative;
  font-size: calc((1vw + 1vh) * 0.51);
  font-family: "WixMadeforTextRegular";
  cursor: pointer;
}
.calculation__btn::after {
  content: url("./assets/images/arrow.svg");
  display: inline-flex;
  right: -10px;
  position: relative;
}
.calculation__close {
  background-color: transparent;
  border: none;
  text-align: right;
  padding: 0 1.5vw 0 0;
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  padding: 1.6vh 3.5vw;
}
.header__logo {
  display: grid;
  grid-template-columns: 0.27fr 1fr;
  align-items: center;
}
.header__social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.header__social .text {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.header__connection {
  display: grid;
  grid-template-columns: 1.6fr 1.3fr 0.7fr;
  align-items: center;
  justify-items: center;
}
.header__phone {
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 22px;
}
.header .phone {
  display: grid;
  grid-row: 1/3;
  font-size: calc((1vw + 1vh) * 0.55);
  font-weight: 600;
}
.header .chat {
  display: grid;
  grid-row: 1/3;
  grid-column: 2/3;
}
.header__consultation {
  display: flex;
  align-items: center;
  padding: 3% 0 3% 3%;
  width: 12vw;
  justify-content: center;
  gap: 5px;
}
.header__consultation .icons a:last-child {
  margin-left: -5px;
}
.header__menu {
  margin: 0 auto;
}
.header__menu .wrapper {
  color: #1455FD;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F6FF;
  border: 1px solid #F4F6FF;
  border-radius: 12px;
  padding: 20%;
}
.header__menu .wrapper p {
  margin-right: 10px;
  font-size: calc((1vw + 1vh) * 0.55);
}
.header .social {
  display: flex;
  gap: 7px;
}

.repair {
  position: relative;
  margin-bottom: 13vh;
}
.repair .slider-wrapperB {
  margin-bottom: 1vh;
  position: relative;
}
.repair__sliderBig {
  display: flex;
  background-image: url("./assets/images/SliderAll.png");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: right;
  width: 100vw;
  height: 592px;
  border-radius: 55px;
  position: relative;
}
.repair .sliderB {
  display: flex;
  background-image: url("./assets/images/Slider1.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 592px;
  border-radius: 55px;
  visibility: hidden;
  position: absolute;
  width: 100%;
}
.repair .text-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5.5% 4%;
  width: 90%;
  z-index: 9999;
}
.repair__title {
  color: white;
  font-size: calc((1vw + 1vh) * 2.35);
  font-family: "WixMadeforDisplay-Bold";
  width: 35%;
  line-height: 116%;
  margin-bottom: 4.5vh;
}
.repair__descr {
  color: white;
  font-size: calc((1vw + 1vh) * 0.81);
  font-family: "WixMadeforText-Medium";
  line-height: 140%;
  width: 35%;
  margin-bottom: 5.5vh;
}
.repair__order {
  display: flex;
  width: 35%;
  gap: 13px;
}
.repair__button {
  width: 45%;
  padding: 4.5% 0;
  font-size: calc((1vw + 1vh) * 0.65);
  font-family: "WixMadeforDisplay-Bold";
}
.repair__blocks {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 0.2vw;
}
.repair__blocks .block {
  background-color: #F5F5F5;
  border-radius: 25px;
  flex-grow: 1;
  width: 0%;
  padding: 3% 3.2%;
}
.repair__blocks .block p {
  font-family: "WixMadeforTextRegular";
  font-size: calc((1vw + 1vh) * 0.82);
}
.repair__blocks .block:nth-child(2) {
  background-image: url("./assets/images/repair__mеn.png");
  background-repeat: no-repeat;
  background-position: right top;
  box-sizing: border-box;
  background-size: 54%;
}
.repair__blocks .block:nth-child(2) p {
  width: 15vw;
}
.prices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20%, repeat(6, 1fr);
  padding: 0 3.5%;
}
.prices__header {
  grid-column: 1/5;
  display: flex;
}
.prices__title {
  font-family: "WixMadeforDisplay-Bold";
  font-size: calc((1vw + 1vh) * 1.95);
  width: 38%;
}
.prices__logo {
  width: 63px;
  height: 61px;
  padding: 2% 0;
}
.prices__vektor {
  width: 148px;
  height: 71px;
  padding: 1.5% 3%;
}
.prices__slider {
  position: relative;
  width: 200px;
  height: 420px;
  margin: 0 auto;
  overflow: hidden;
  padding: 5% 0;
}
.prices__slider-wrapper {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  gap: 10px;
}
.prices__slider-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prices__slider-prew, .prices__slider-next {
  position: absolute;
  background-color: transparent;
  border: none;
}
.prices__slider-prew {
  top: 0%;
  left: 40%;
}
.prices__slider-next {
  bottom: 0%;
  left: 40%;
  transform: rotate(180deg);
}

@media (min-width: 769px) and (max-width: 1250px) {
  body {
    background-color: red;
  }
  .container {
    width: 100%;
  }
  .calculation__btn {
    min-width: 20vw;
    background-color: red;
  }
  .header {
    background-color: green;
    grid-template-columns: 0.7fr 1fr 1.8fr;
  }
  .header__consultation {
    width: 19vw;
  }
  .repair__sliderBig {
    height: 434px;
  }
  .repair__sliderBig .sliderB {
    height: 434px;
  }
  .repair__title {
    font-size: calc((1vw + 1vh) * 1.5);
    width: 70vw;
  }
  .repair__descr {
    font-size: calc((1vw + 1vh) * 0.7);
    width: 70vw;
    margin-bottom: 5%;
  }
  .repair__order {
    width: 50%;
    gap: 13px;
  }
}
@media (min-width: 1760px) {
  .calculation__text1::before {
    margin-right: 80px;
  }
  .repair__title {
    font-size: calc((1vw + 1vh) * 1.5);
    width: 70vw;
    margin-bottom: 7vh;
  }
  .repair__descr {
    font-size: calc((1vw + 1vh) * 0.7);
    width: 70vw;
    margin-bottom: 9vh;
  }
  .repair .text-wrapper {
    padding: 2.5% 4%;
  }
  .repair__button {
    padding: 5% 0;
  }
}
@media (min-width: 2900px) {
  .repair__title {
    margin-bottom: 4vh;
  }
  .repair__descr {
    margin-bottom: 5vh;
  }
  .repair .text-wrapper {
    padding: 2.5% 4%;
  }
  .repair__button {
    padding: 2.5% 0;
  }
}

/*# sourceMappingURL=style.css.map */
