@import './fonts.scss';
@import './settings.scss';
@import './colors.scss';


.container {
    min-width: 90%;
    margin: 40px auto;
}

//calculation

.calculation {
    background-color: #161616;
    display: grid;
    grid-template-columns: 2fr 5vw;
    padding: 0.6vh 0;
    position: fixed;
    top: 0;
    width: 100%;

    &__wrapper {
        display: grid;
        grid-template-columns: 68% 32%;
    }

    &__descr {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: flex-end;
        gap: 1vw;
        width: 90%;
    }

    &__text1,
    &__text2,
    &__text3 {
        color: white;
        font-size: calc($sizeindex * 0.51);
        font-family: 'WixMadeforTextRegular';
    }

    &__text1 {
        position: relative;
    }

    &__text1::before {
        content: url('./assets/images/lightning.svg');
        display: inline-flex;
        top: -5px;
        right: 4vw;
        position: absolute;
    }

    &__text2 {
        display: block;
        padding: 5px 10px;
        border: 2px solid black;
        border-radius: 25px;
        background-color: #2D2D2D;
    }

    &__btn {
        border: 2px solid black;
        border-radius: 10px;
        max-width: 11vw;
        position: relative;
        font-size: calc($sizeindex * 0.51);
        font-family: 'WixMadeforTextRegular';
        cursor: pointer;
    }

    &__btn::after {
        content: url('./assets/images/arrow.svg');
        display: inline-flex;
        right: -10px;
        position: relative;
    }


    &__close {
        background-color: transparent;
        border: none;
        text-align: right;
        padding: 0 1.5vw 0 0;
        cursor: pointer;
    }
}

//calculation end

//header 

.header {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr;
    padding: 1.6vh 3.5vw;

    &__logo {
        display: grid;
        grid-template-columns: 0.27fr 1fr;
        align-items: center;
    }


    &__social {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;


        .text {
            display: inline-block;
            text-align: right;
            margin-right: 10px;
        }
    }


    &__connection {
        display: grid;
        grid-template-columns: 1.6fr 1.3fr 0.7fr;
        align-items: center;
        justify-items: center;
    }

    &__phone {
        display: grid;
        grid-template-rows: 1fr 1fr;
        column-gap: 22px;
    }

    .phone {
        display: grid;
        grid-row: 1/3;
        font-size: calc($sizeindex * 0.55);
        font-weight: 600;
    }

    .chat {
        display: grid;
        grid-row: 1/3;
        grid-column: 2/3;
    }

    &__consultation {
        display: flex;
        align-items: center;
        padding: 3% 0 3% 3%;
        width: 12vw;
        justify-content: center;
        gap: 5px;

        .icons {
            a:last-child {
                margin-left: -5px;
            }
        }
    }

    &__menu {
        margin: 0 auto;


        .wrapper {
            color: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $grayLight;
            border: 1px solid $grayLight;
            border-radius: 12px;
            padding: 20%;

            p {
                margin-right: 10px;
                font-size: calc($sizeindex * 0.55);
            }
        }
    }

    .social {
        display: flex;
        gap: 7px;

    }
}

//header end

//main
//repair
.repair {
    position: relative;
    margin-bottom: 9vh;

    //slider + text
    .slider-wrapperB {
        position: relative;
    }

    &__sliderBig {
        display: flex;
        background-image: url('./assets/images/SliderAll.png');
        background-repeat: no-repeat;
        background-color: #000;
        background-position: right;
        width: 100vw;
        height: 592px;
        border-radius: 55px;
        position: relative;
    }

    .sliderB {
        display: flex;
        background-image: url('./assets/images/Slider1.png');
        background-repeat: no-repeat;
        background-position: right;
        height: 592px;
        border-radius: 55px;
        visibility: hidden;
        position: absolute;
        width: 100%;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 5.5% 4%;
        width: 90%;
        z-index: 9999;
    }

    &__title {
        color: white;
        font-size: calc($sizeindex * 2.1);
        font-family: 'WixMadeforDisplay-Bold';
        width: 35%;
        line-height: 116%;
        margin-bottom: 2.5vh;
    }

    &__descr {
        color: white;
        font-size: calc($sizeindex * 0.72);
        font-family: 'WixMadeforText-Medium';
        line-height: 140%;
        width: 35%;
        margin-bottom: 4vh;
    }

    &__order {
        display: flex;
        width: 35%;
        gap: 13px;
    }

    &__button {
        width: 45%;
        padding: 4.5% 0;
        font-size: calc($sizeindex * 0.65);
        font-family: 'WixMadeforDisplay-Bold';
    }

    //slider + text end

    //sting under slider

    &__blocks {
        display: flex;
        position: relative;
        justify-content: space-between;
        gap: 0.2vw;

        .block {
            background-color: $blocksColor;
            border-radius: 25px;
            flex-grow: 1;
            width: 0%;
            padding: 3% 3.2%;

            p {
                font-family: 'WixMadeforTextRegular';
                font-size: calc($sizeindex * 0.82);
            }
        }

        .block:nth-child(2) {
            background-image: url('./assets/images/repair__mеn.png');
            background-repeat: no-repeat;
            background-position: right top;
            box-sizing: border-box;
            background-size: 54%;

            p {
                width: 15vw;
            }



            img {
                // position: absolute;
                // top: 0;
                // right: 0;
                // bottom: 0;
            }
        }
    }

    //sting under slider end

}

//repair end

//prices

.prices {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 3.5%;
    column-gap: 10px;
    grid-row-gap: 15px;

    &__header {
        grid-column: 1/5;
        display: grid;
        margin-bottom: 1.5vh;
        grid-column: 1/5;
    }

    &__title {
        font-family: 'WixMadeforDisplay-Bold';
        font-size: calc($sizeindex * 1.75);
        width: 104%;
        grid-column: 1/3;
    }

    &__logo {
        width: 63px;
        height: 61px;
        padding: 28px 57px;
        grid-column: 3/4;
    }

    &__vektor {
        width: 148px;
        height: 71px;
        padding: 17% 0;
        grid-column: 4/6;
    }

    &__slider {
        position: relative;
        width: 150px;
        height: 320px;
        overflow: hidden;
        padding: 5% 0;
        grid-column: 1/2;
    }

    &__slider-wrapper {
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        gap: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__slider-prew,
    &__slider-next {
        position: absolute;
        background-color: transparent;
        border: none;
    }

    &__slider-prew {
        top: 0%;
        left: 40%;
    }

    &__slider-next {
        bottom: 0%;
        left: 40%;
        transform: rotate(180deg)
    }

    &__video {
        text-align: center;
        grid-column: 2/3;

        iframe {
            border-radius: 50px;
            border: 1px solid black;
        }

    }

    &__sliderText {
        display: grid;
        grid-column: 3/8;

        .title {
            grid-column: 1/3;
            display: flex;
            align-items: center;
            font-size: calc($sizeindex * 1.2);
        }

        .arrows {
            grid-column: 4/6;
            display: flex;
            align-items: center;

            &__left {
                transform: rotate(270deg)
            }

            &__right {
                transform: rotate(90deg)
            }
        }

        .prices__descr {
            grid-column: 1/6;
            display: grid;

            .prices__price {
                display: flex;
                grid-column: 1/2;
                justify-content: space-between;
                font-size: calc($sizeindex * 0.7);
            }

            .prices__repair {
                display: flex;
                grid-column: 3/4;
                justify-content: space-between;
                font-size: calc($sizeindex * 0.7);
            }

            .prices__surface {
                display: flex;
                grid-column: 5/6;
                justify-content: space-between;
                font-size: calc($sizeindex * 0.7);
            }


        }

        .prices__text {
            display: flex;
            align-items: center;
            font-size: calc($sizeindex * 0.7);
        }

    }

    &__excursion {
        display: flex;
        grid-column: 1/8;
        padding: 1.6%;
        border: 1px solid black;
        border-radius: 25px;
        background-color: #000;
        color: #fff;
        justify-content: space-between;

        .record {
            width: 35%;

            &__title {
              font-size: calc($sizeindex * 1.1);  
              margin-bottom: 1.5vh;
            }

            &__text {
                width: 72%;
                font-size: calc($sizeindex * 0.6);  
            }
            
        }

        .conctacts {
            width: 60%;
            display: grid;
        }
    }


}


@import './media.scss';