@import './fonts.scss';
@import './settings.scss';
@import './colors.scss';

.container {
    min-width: 1512px;
    border: 1px solid black;
}

.calculation {
    background-color: #161616;
    display: grid;
    grid-template-columns: 2fr 5vw;
    padding: 0.5vh 0;

    &__wrapper {
        display: grid;
        grid-template-columns: 66% 34%;
    }

    &__descr {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: flex-end;
        gap: 1vw;
        width: 90%;
    }

    &__text1,
    &__text2,
    &__text3 {
        color: white;
        font-size: calc($sizeindex * 0.51);
        font-family: 'WixMadeforTextRegular';
    }

    &__text1 {
        position: relative;
    }

    &__text1::before {
        content: url('./assets/images/lightning.svg');
        display: inline-flex;
        top: -5px;
        right: 60px;
        position: absolute;
    }

    &__text2 {
        display: block;
        padding: 5px;
        border: 2px solid black;
        border-radius: 25px;
        background-color: #2D2D2D;
    }

    &__btn {
        border: 2px solid black;
        border-radius: 10px;
        max-width: 11vw;
        position: relative;
        padding: 0 auto;
    }

    &__btn::after {
        content: url('./assets/images/arrow.svg');
        display: inline-flex;
        right: -10px;
        position: relative;
    }




    &__close {
        background-color: transparent;
        border: none;
        text-align: right;
        padding: 0 1.5vw 0 0;
    }
}